<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.connection.username">hackdb</property>
		<property name="hibernate.connection.password">hackdb</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/hackdb</property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		<property name="use_sql_comments">true</property>
		<property name="connection.pool_size">1</property>
		<mapping class="com.boaglio.wgethack.domain.Podcast"></mapping>
		<mapping class="com.boaglio.wgethack.domain.Tipo"></mapping>
	</session-factory>
</hibernate-configuration>